/*gdhggeuedg*/

* {
    box-sizing: border-box;
  }
  
  .headerFirst{
      display: flex;
      background-color: black;
        }
  
  
 .hOne{
 width: 25%;
          
 padding: 15px;
 /* border: 1px solid red; */
}
  
  
  
.hTow{
width: 50%;
          
padding: 15px;
color: white;
/* border: 1px solid red; */
 }
  
  
  
.hTree{
width: 25%;
padding: 15px;
 color: white;
  /* border: 1px solid red; */
 }







.headerSec{
display: flex;
      }



.kOne{
width: 25%;  
padding: 15px;
/* border: 1px solid red; */
      }

      

.kTow{
width: 37.5%;  
padding: 15px;
/* border: 1px solid red; */
      }
      
.kTree{
width: 37.5%;  
padding: 15px;
/* border: 1px solid red; */
      }



      .box{
        display: flex;
      }
      .boxright{
        width: 60%;  
        padding: 15px;

        /* border: 1px solid red; */
       }
          .boxleft{
            width: 40%;  
            padding: 15px;
            /* border: 1px solid red; */
          }
          

          


        .footerfirst{
            background-color: black;
          }
          
          .footone{
            color: white;
            padding-left: 50px;
            padding-top: 50px;

          }
          
          .put{
            background-color: white;
            width: 217px;
            height: 48px;
          }
          
          .foottow{
            color: white;
            padding-left: 100px;
            padding-top: 50px;

          }
          
          .footthree{
            color: white;
            padding-left: 100px;
            padding-top: 50px;

          }
          
          .footfour{
            color: white;
            padding-left: 100px;
            padding-top: 50px;

          }
          
          .footfive{
            color: white;
            padding-left: 100px;
            padding-top: 50px;

          }

.rrrr{
  border-bottom: 10px;
}          
          